ul, li {
    list-style: none;
    color: white;
    padding: 0;

}

body {
    background-color: lightgray;
}

span {
    color: white;
}

h1 {
    color: #2bb3b1;
}

h2 {
    color: #c2d36b
}

h2 + span {
    color: grey;
}


h3{
    color: white;
}
.price-card {
    margin: 10vh 10vh;
    border-radius: 20px;
    background-color: white;



}

.subscription {



    padding: 25px;
}

.why-us {

    /*background-color: #4abebd;*/
    padding: 25px;


}

.top {
    /*background-color: white;*/
    /*border-radius: 20px;*/
    padding: 15px;



}



.bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:  #2bb3b1;
}

button {
    display: block;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: greenyellow;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Arial;
    font-size: 1.1em;
    border-radius: 1em;


}

p > span {
    font-size: 2em;
}

p{
    color: white;
}

